<html>
<head>
    <title>Floor5Dev Chat Analysis — Input</title>
    
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">

    <style type="text/css">
    #main-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        min-height: 1000px;

    }
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        text-align: center;
        font-size: 40pt
    }
    select {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;

        font-family: 'Open Sans', sans-serif;
        font-size:17px;
        display:block;
        font-weight: lighter;
        padding:10px;
        width:90%;
        margin-right: 5%;
        margin-left: 5%;
        height:40px;
        border:none;
        background:#1f1f1f;
        margin-bottom:3px;
        color:#FFF;
        border-radius: 0px;
        overflow: auto;
        outline: none;
        padding-right: 1em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition:background-color 0.2s ease-out;
        -moz-transition:background-color 0.2s ease-out;
        -o-transition:background-color 0.2s ease-out;
        transition:background-color 0.2s ease-out
    }
    input {
        font-family: 'Open Sans', sans-serif;
        font-size:17px;
        display:block;
        font-weight: lighter;
        padding:10px;
        width:90%;
        margin-right: 5%;
        margin-left: 5%;
        height:40px;
        border:none;
        background:#1f1f1f;
        margin-bottom:3px;
        color:#FFF;
        border: none;
        overflow: auto;
        outline: none;
        padding-right: 1em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition:background-color 0.2s ease-out;
        -moz-transition:background-color 0.2s ease-out;
        -o-transition:background-color 0.2s ease-out;
        transition:background-color 0.2s ease-out
    }
    input.placeholder {
        color:#a9a9a9
    }
    input:focus { 
        background:#333
    }
    input.error {
        background:#FF6800 
    }
    input.disabled {
        color:#444
    }
    textarea { 
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-size:17px;
        display:block;
        width:90%;
        margin-right: 10%;
        margin-left: 5%;
        height:192px;
        padding:10px;
        background:#1f1f1f;
        color:#FFF;
        border: none;
        overflow: auto;
        outline: none;
        margin-right: 1em;
        margin-bottom: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition:background-color 0.2s ease-out;
        -moz-transition:background-color 0.2s ease-out;
        -o-transition:background-color 0.2s ease-out;
        transition:background-color 0.2s ease-out
    }
    textarea.placeholder {
        color:#a9a9a9
    }
    textarea:focus { 
        background:#333
    }
    textarea.error { 
        background:#FF6800
    }
    textarea.disabled { 
        color:#444
    }
    ::-webkit-input-placeholder {
        color:#888
    }
    :-moz-placeholder {
        color:#888
    }
    ::-moz-placeholder { 
        color:#888
    }
    :-ms-input-placeholder {
        color:#888
    }
    .error::-webkit-input-placeholder { 
        color:#FFF
    }
    .error:-moz-placeholder { 
        color:#FFF
    }
    .error::-moz-placeholder { 
        color:#FFF
    }
    .error:-ms-input-placeholder { 
        color:#FFF
    }
    .disabled::-webkit-input-placeholder {
        color:#444
    }
    .disabled:-moz-placeholder {
        color:#444
    }
    .disabled::-moz-placeholder {
        color:#444
    }
    .disabled:-ms-input-placeholder {
        color:#444
    }
    input[type=submit] {
        overflow: hidden;   
    }
    #leftWrapper {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%
    }
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;  
        font-size: 14pt;
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
    }
    ul li {
        display: inline;   
    }
    .bar {
      fill: steelblue;
  }

  .bar:hover {
      fill: brown;
  }

  .axis {
      font: 10px sans-serif;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: #fff;
      shape-rendering: crispEdges;
  }

  .x axis path {
      display: none;
  }

  .axis path,
  .axis line, {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.tick {
    opacity: 0;
}
.tick path{
    fill: white;
    stroke: white;
    shape-rendering: crispEdges;
}
.x-axis line {
    opacity: 0;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

text {
  fill: #fff;
}
.x text {
    fill: #000;
}
.axis path, .axis line {
  fill: #000;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.y text {
    fill: white;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 250px;
  word-wrap: normal;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>


</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

    
    <div id="page_effect" style="">
        <div id="container">
            <div id="main-wrapper">
                <div id="main">
                    <div class="container-fluid">
                        <h1 style="margin-bottom:15px;">FLOOR5DEV: CHAT ANALYSIS.</h1>
                        <p style="text-align: center;">Hersh | Nikhil | Denis | Nanxi | Julie</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div id="leftWrapper">
                                <h2><span style="color:DodgerBlue">Global Analysis.</span></h2>
                                <br>
                                <p><span style="color:DodgerBlue">Start Date:</span><span id="startDate"></span></p>
                                <p><span style="color:DodgerBlue">End Date:</span><span id="endDate"></span></p>
                                <p><span style="color:DodgerBlue">Total Messages:</span><span id="messageCount"></span></p>
                                <p><span style="color:DodgerBlue">Most Probable Couple:</span><span id="mostProbableCouple"></span></p>
                                <p><span style="color:DodgerBlue">Lonliest Member:</span><span id="mostLonelyUser"></span></p>
                                <p><span style="color:DodgerBlue">Most Talkative:</span><span id="mostTalkative"></span></p>
                                <p><span style="color:DodgerBlue">Least Talkative:</span><span id="leastTalkative"></span></p>
                                <p><span style="color:DodgerBlue">Conversation Summary:</span><span id="summary"></span></p>
                                <br>
                                <br>
                                <h2><span style="color:DodgerBlue">Interesting Groupings.</span></h2>
                                

                                <p>Users: <span id="users"></span></p>
                                <br>
                                <p><span style="color:DodgerBlue">Message containing <span style="color:red">'fuck': </span></span><span id="containingFuck"></span></p>
                                <p><span style="color:DodgerBlue">Message containing <span style="color:red">'hate': </span></span><span id="containingHate"></span></p>
                                <p><span style="color:DodgerBlue">Message containing <span style="color:red">'love': </span></span><span id="containingLove"></span></p>
                                <p><span style="color:DodgerBlue">Message containing <span style="color:red">'hate': </span></span><span id="containingShit"></span></p>
                                <p><span style="color:DodgerBlue">Message containing <span style="color:red">'kill': </span></span><span id="containingKill"></span></p>
                                <br>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div id="analysis">
                                <h2 style="margin-left:5%">Graphic Analysis (Usage).</h2>

                            </div>
                            <div id="analysis1">
                                <h2 style="margin-left:5%">Graphic Analysis (Cumulative Usage).</h2>

                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script>

    
    var data = <%- JSON.stringify(graphData) %>;

        function PrettyPrintList(list) {
            var ret = '';
            for(var i = 0; i < list.length; i++) {
                ret += list[i];
                if(i !== list.length - 1) {
                    ret += ', ';
                }
            }
            return ret;
        }

        function ConfirmEmailSubmission(user_id, email, raw_data) {
            if(confirm("Would you like the raw generated data to be sent to you by email?") === true) {
                window.open('mailto:' + email + '?subject=Here\'s the conversation data that you requested ' + user_id + '!&body=' + JSON.stringify(raw_data));
            }
        }

        ConfirmEmailSubmission(data.user_id, data.email, data);
    
        //setup globals
        document.getElementById('startDate').innerHTML = "&nbsp" + data.start_date;
        document.getElementById('endDate').innerHTML = "&nbsp" + data.end_date;
        document.getElementById('messageCount').innerHTML = "&nbsp" + data.total_messages;
        document.getElementById('mostProbableCouple').innerHTML = "&nbsp" + (data.most_probable_couple[1] === '' ? data.most_probable_couple[0] : PrettyPrintList(data.most_probable_couple));
        document.getElementById('mostLonelyUser').innerHTML = "&nbsp" + data.most_lonely_users[0][0];
        document.getElementById('messageCount').innerHTML = "&nbsp" + data.total_messages;
        document.getElementById('mostTalkative').innerHTML = "&nbsp" + PrettyPrintList(data.conversation_most_talkative);
        document.getElementById('leastTalkative').innerHTML = "&nbsp" + PrettyPrintList(data.conversation_least_talkative);
        document.getElementById('summary').innerHTML = "&nbsp" + (data.conversation_summary);
        document.getElementById('users').innerHTML = PrettyPrintList(data.users);

                //populate groupings
        document.getElementById('containingFuck').innerHTML = "&nbsp" + data.interesting_word_conversations[0].join("<br />");
        document.getElementById('containingHate').innerHTML = "&nbsp" + data.interesting_word_conversations[1].join("<br />");
        document.getElementById('containingLove').innerHTML = "&nbsp" + data.interesting_word_conversations[2].join("<br />");
        document.getElementById('containingShit').innerHTML = "&nbsp" + data.interesting_word_conversations[3].join("<br />");
        document.getElementById('containingKill').innerHTML = "&nbsp" + data.interesting_word_conversations[4].join("<br />");
        //setup activity graph
        graphActivity(data);
        graphCumulativeActivity(data);
        
        function graphActivity(data) {
                var margin = {
                    "top": 10,
                    "right": 10,
                    "bottom": 30,
                    "left": 50
                },
                width = $("#analysis").width()-20,
                height = 500;

                var x = d3.scale.ordinal()
                .domain(data.buckets.map(function(d) {
                    return d;}))
                .rangeRoundBands([0, width], 0);


                var y = d3.scale.linear()
                .domain([0, d3.max(data.values)])
                .range([height, 0]);

                var xAxis = d3.svg.axis().scale(x).orient("bottom");

                var yAxis = d3.svg.axis().scale(y).orient("left");

                var svgContainer = d3.select($("#analysis")[0]).append("svg")
                .attr("class", "chart")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom).append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.right + ")");


                var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d, i) {
                    return  "Start: " + "<span style='color:red'>" + data.starting_times[i] + "</span><br>"
                    + "End: <span style='color:red'>" + data.ending_times[i] + "</span><br>" 
                    + "Messages: <span style='color:red'>" + d + "</span><br>" 
                    + "Most Talkative: " + "<span style='color:red'>" + data.most_talkative[i] + "</span><br>"
                    + "Least Talkative: " + "<span style='color:red'>" + data.least_talkative[i] + "</span><br>"
                    + "Summary: " + "<span style='color:red'>" + data.summaries[i] + "</span>";

                })

                svgContainer.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate( 0," + height + ")")
                .call(xAxis);

                svgContainer.call(tip);


                svgContainer.append("g")
                .attr("class", "y axis").call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Value");

                svgContainer.selectAll(".bar").data(data.values).enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d, i) {
                    return i * x.rangeBand();
                })
                .attr("y", function(d) {
                    return y(d);
                })
                .attr("width", function(){
                    return x.rangeBand();
                })
                .attr("height", function(d) {
                    return height -y(d);
                }).on('mouseover', tip.show)
                .on('mouseout', tip.hide);
            }
        
            function graphCumulativeActivity(data) {
                var margin = {
                    "top": 10,
                    "right": 10,
                    "bottom": 30,
                    "left": 50
                },
                width = $("#analysis1").width()-20,
                height = 500;

                var x = d3.scale.ordinal()
                .domain(data.buckets.map(function(d) {
                    return d;}))
                .rangeRoundBands([0, width], 0);

                var y = d3.scale.linear()
                .domain([0, d3.max(data.cumulative_histogram)])
                .range([height, 0]);

                var xAxis = d3.svg.axis().scale(x).orient("bottom");

                var yAxis = d3.svg.axis().scale(y).orient("left");

                var svgContainer = d3.select($("#analysis1")[0]).append("svg")
                .attr("class", "chart")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom).append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.right + ")");

                var tip = d3.tip()
                    .attr('class', 'd3-tip')
                    .offset([-10, 0])
                    .html(function(d, i) {
                        return  "Bucket: " + "<span style='color:red'>" + i + "</span><br>"
                                        + "Values: <span style='color:red'>" + d + "</span><br>";

                })

                svgContainer.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate( 0," + height + ")")
                .call(xAxis);
                
                svgContainer.call(tip);

                
                svgContainer.append("g")
                .attr("class", "y axis").call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Values");

                svgContainer.selectAll(".bar").data(data.cumulative_histogram).enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d, i) {
                    return i * x.rangeBand();
                })
                .attr("y", function(d) {
                    return y(d);
                })
                .attr("width", function(){
                    return x.rangeBand();
                })
                .attr("height", function(d) {
                    return height -y(d);
                }).on('mouseover', tip.show)
                .on('mouseout', tip.hide);
            }
        
            
            
            
        
        </script>
        <script type="text/javascript" src="code/js/classie.js"></script>
        <script type="text/javascript" src="code/js/main.js"></script>
    </body>
    </html>